# macOS
.DS_Store

# Xcode
build/
DerivedData/
*.xcuserstate
*.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcshareddata/
xcuserdata/

# Swift Package Manager
.swiftpm/
.build/
Packages/
Package.resolved

# CocoaPods (not used, but ignore if added)
Pods/

# Carthage (not used)
Carthage/Build/

# fastlane (not used)
fastlane/report.xml
fastlane/screenshots/**/*.png
fastlane/test_output
